@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@285;300&family=Playfair+Display&display=swap');



body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to right, rgb(189, 199, 233), rgb(15, 92, 10));
    background-image: url(../media/galesnjak.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: center center;
}

h2 {
    margin: 20px;
    padding: 30px;
    color: rgb(90, 20, 155);
}

.text-dark {
    color: black !important;
}

.btn-yellow:hover,
.btn-yellow:active,
.btn-yellow:focus {
    background: rgba(47, 216, 238, 0.726);
    color: black !important;
    border-radius: 25%;

}