body {
    font-family: 'Lato', sans-serif;
    background: linear-gradient(to right, rgb(189, 199, 233), rgb(15, 92, 10));
    background-image: url(../media/aerial-view-heart-shaped-galesnjak-island-adriatic-coast-croatia-75860686.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h2 {
    margin: 20px;
    padding: 30px;
    color: rgb(90, 20, 155);
}