body {
    font-family: 'Lato', sans-serif;
    background-image: url(../media/peninsulaview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

h2 {
    margin: 20px;
    padding: 30px;
    color: rgb(90, 20, 155);
}