{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load cloudinary %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
{% cloudinary_includes %}
{% cloudinary_js_config %}

<h2 class="display-4 text-warning">

    {% for apartment in apartments %}
    <img src="{{ apartment.front_image.url }}" height="300px" width="170px" alt="front view image">
    With {{ apartment.beds_nr }} Beds</h2>
<h2 class="display-4 text-warning">"{{ apartment.apartment_name }}" apartment for a price of {{ apartment.price }} Euros</h2>
{% endfor %}
<p> Details about apartment features to be here, description and directions</p>



{% endblock %}

</html>