{% extends 'base.html' %}
{% load static %}

{% block content %}
<title>Book - Contact Us</title>
<div class="container">
    <div class="container-fluid text-light font-weight-bold my-4 mw-75">
        <form action="" method="POST" class="contact-form">

            <div class="d-flex flex-column"> {{ form}}
                <div class="form-group">
                    <button type="button" class="btn btn-light mt-2">Send Enquiry</button>
                </div>
            </div>
    </div>
</div>
</form>
</div>

{% endblock %}

</html>