{% extends 'base.html' %}
{% load static %}

{% block content %}
<title>Book - Contact Us</title>
{% if submitSent %}
<div class="container">
    <h3><strong>Thank you for Contacting Us</strong></h3>
    <p>Your Request was sent succesfully</p>
</div>
{% else %}
<div class="d-flex justify-content-center">...
    <div class="container">
        <div class="container-fluid text-light font-weight-bold my-4 mw-75">
            <form action="" method="POST" class="contact-form">

                <div class="d-flex flex-column">
                    <div class="p-2 bd-highlight"> Your Full Name:</div>
                    <div class="p-2 bd-highlight">{{ form.full_name }}</div>

                    <div class="p-2 bd-highlight"> Your Email Address: </div>
                    <div class="p-2 bd-highlight"> {{ form.email }} </div>
                    <div class="p-2 bd-highlight"> Your Request</div>
                    <div class="p-2 container "> {{ form.contacting }}</div>

                    <div class="form-group">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-light mt-2 p-2" value='Send Enquiry' />
                    </div>
                </div>
        </div>
    </div>
</div>
</form>
</div>
{% endif %}
{% endblock %}

</html>