{% extends 'base.html' %}


{% block content %}
<div container-fluid>
    {% for apartments in apartment %}
    <h2 class="display-4 text-dark">Index - Front page with
        preview of the location, front images of the house, feedback from guests that need to be
        approved</h2>
    {{ apartment.front_image }}

    {% endfor %}
    <br>
    <br>
    <br>
</div>
<div id='map' style="width: 500px; height: 500px; margin-left: 70px; margin-bottom: 60px;"></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type='text/javascript'>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {
                lat: 45.21028,
                lng: 14.65417
            },
            zoom: 10
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB2euvdjQ0MmClCHx99xueO2QOFStgtKA&callback=initMap" async defer></script>

{% endblock %}

</html>