{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid my-5">
    <div class="row">
        <div class="col">

            <div class="col-lg-5 mx-auto mt-5">
                <img src="https://upload.wikimedia.org/wikipedia/commons/e/ec/Crikvenica_072.jpg" class="rounded-circle" width="200" height="200">
                <h3 class="text-center text-white font-weight-bold">Crikvenica City</h3>
                <p class="text-black text-center bg-light p-3">Only 5 km east of the property, there is Crikvenica, a small coastal city with vibrant nightlife and abundant beachsides</p>
                <p><a class="btn btn-info" href="https://www.tripadvisor.ie/Tourism-g303805-Crikvenica_Primorje_Gorski_Kotar_County-Vacations.html" target="_blank" role="button">
                        According to TripAdvisor - About Crikvenica</a></p>
            </div>
        </div>
        <div class="col-lg-5 ml-4">
            <h2 class="text-white text-center font-weight-bold">Exact location of Klanfari 33, Dramalj</h2>
            <div id='map' style="width: 400px; height: 400px; margin-bottom: 60px;"></div>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
            <script type='text/javascript'>
                function initMap() {
                    var map = new google.maps.Map(document.getElementById('map'), {
                        center: {
                            lat: 45.21028,
                            lng: 14.65417
                        },
                        zoom: 10
                    });
                }
            </script>
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCB2euvdjQ0MmClCHx99xueO2QOFStgtKA&callback=initMap" async defer></script>
        </div>
        <div class="col-lg-5 mx-auto mt-5 center">
            <img src="https://img.marinas.com/v2/080dc2269a142465e46b477c689f689dad420b506cc9cf424e029c60c11c09e4.jpg" class="rounded-circle" width="200" height="200">
            <h3 class="text-center text-white font-weight-bold">Kacjak Beach</h3>
            <p class="text-black text-center bg-light p-3">Only 1 km north-west of the property, there is Kacjak, a small penninsula with a harbour, FKK beach, Pizzeria, Tennis Court, Mini Golf and much more...</p>
            <p><a class="btn btn-info" href="https://www.tripadvisor.ie/Attraction_Review-g1061556-d21140409-Reviews-Kacjak_Beach-Dramalj_Primorje_Gorski_Kotar_County.html" target="_blank" role="button">
                    According to TripAdvisor - About Kacjak Pizzeria</a></p>
        </div>
        <div class="col-lg-5"></div>
    </div>
    {% endblock %}
</div>

</html>